%h2 About

%p Hi there!
%p
  This page is for you if you want to find a travel partner
  %strong now
  and
  %strong near you
  so you can meet over a coffee, get to know each other and exchange travel plans.

The travel partner search is
%ul
  %li mobile accessible
  %li location-based for starting point
  %li makes no assumptions about enddate or endpoint

%h3 Why?
%p There are websites that help you finding people who go to the same country at the same time like you. But imagine youself being in a certain city and wanting to travel somewhere with someone else to share costs or enjoy company. How do you do that? Well, probably you'll start looking on bulletin boards in hostels. But that's a pretty tedious task. And it's impossible to find travel partners that way in a city that you haven't arrived yet.

%p There are also a lot of great carpooling sites. But as a backpacker you probably want to see the country and not rush from A to B. And fixed dates and routes aren't useful as well. You might want to travel until you run out of money. Or you might know that you want to see awsome parts of the country but you don't have a plan yet in which order you want to visit all the great places. It's maybe more important to find a travel partner that you like and trust.
