.hero-unit
  %h1 Hi!
  %p
    Searching for people to travel with?
  %p You are in City xy and want to travel for two weeks and don't know how?
  %p Try this!
  = link_to 'Sign up', new_user_registration_path, :class => 'btn btn-primary btn-large'
  or
  = link_to 'Login', new_user_session_path, :class => 'btn btn-primary btn-large'
