.hero-unit
  %h1 Hi!
  %p
    Searching for people to travel with? You are in City xy and want to travel for two weeks and don't know how? Try this!
    %ul
      %li Toll!
      %li Viel toller!
  %a.btn.btn-primary.btn-large
    Sign-up!
  or
  %a.btn.btn-primary.btn-large
    Login
