.row.user-page
  margin-top: 20px
  margin-bottom: 20px
@import 'colors'

.lead.small
  font-size: 15px
  line-height: 21px

dl.dl-horizontal
  dt
    text-align: left

.map_container
  margin-bottom: 50px
