@import 'colors'

.user
  img.avatar
    margin-top: 20px
    margin-bottom: 20px

  .lead.small
    font-size: 15px
    line-height: 21px

  .map_container
    margin-bottom: 20px
    margin-top: 10px

//status
.status-free
  background-color: $free
.status-soon-free
  background-color: $soon-free
.status-stuck
  background-color: $stuck

.status
  border-radius: 18px
  padding: 0px 9px 0px 13px
  margin-right: 9px

//don't know yet where to put this stuff
.error
  color: $danger

.navi-links
  margin-top: 15px

//i don't know why formtastic sets padding to zero?
.formtastic
  input, select, textarea
    padding: 6px 12px
  select
    width: 392px
    max-width: 72%
