@import 'colors'

.user
  .row.user-page
    margin-top: 20px
    margin-bottom: 20px

  .lead.small
    font-size: 15px
    line-height: 21px

  dl.dl-horizontal
    dt
      text-align: left

  .map_container
    margin-bottom: 50px

#update-location
  margin-bottom: 30px

//status
.status-free
  background-color: $green
.status-soon-free
  background-color: $yellow
.status-stuck
  background-color: $red

.status
  border-radius: 18px
  padding: 0px 9px 0px 13px
  margin-right: 5px

