.navbar.navbar-fixed-top
  .navbar-inner
    .container
      / .btn-navbar is used as the toggle for collapsed navbar content
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      / Be sure to leave the brand out there if you want it shown
      %a.brand{:href => root_url} Backpacker
      / Everything you want hidden at 940px or less, place within here
      .nav-collapse
        / .nav, .navbar-search, .navbar-form, etc
        %ul.nav
          - if user_signed_in?
            %li= link_to 'My Profile', current_user
            %li= link_to('Edit Profile', edit_user_registration_path)
        .nav.pull-right
          = render 'devise/menu/items'
